.container{
    display:flex;
    flex-direction: column;
    background-color: white;
    gap: 8px;
}
.container label {
    font-weight: 700;
    font-size: 1rem;
    background-color: white;
    color: #313131;
}

.container input{
    border-radius: 5px;
    border : 1px solid #dddddd;
    outline : none;
    padding: 10px 15px;
    color: #000;
    background-color: white;
}